.downloads{
    font-family: 'cwTeXYen','微軟正黑體', 'Arial' , sans-serif ;
}

.downloads .table-title{
    border-radius: 3px;
    letter-spacing: 5px;
    text-indent: 5px;
    color: #ffffff;
    width: 100%;
    box-sizing: border-box;
    border-spacing: 4px 0;
}
.downloads .table-title th{
    border-radius: 3px;
    letter-spacing: 5px;
    text-indent: 5px;
    text-align: center;
    border-radius: 5px;
    font-size: 16px;
    vertical-align: middle;
    font-weight: 300;
    border: 0px solid transparent;
     -webkit-user-select: none;  
}
.downloads .table-title .unit {
background-color: #692912;
    width:280px;
    transition: .3s all;
}
.downloads .table-title .unit:hover {
background-color: #8e492f;
}
.downloads .table-title .year{
background-color: #937b61;
    transition: .3s all;
}
.downloads .table-title .year:hover{
background-color: #bea489;
}
.downloads .aligner{
padding:0 4px;
}



.downloads .type{
    border-radius: 3px;
    letter-spacing: 2px;
    text-indent: 5px;
    color: #1d1d1d;
    font-size: 18px;
    width: 100%;
    box-sizing: border-box;
    border-spacing: 4px 0;
    border-collapse:collapse;
    margin:14px auto  40px;
}
.downloads .type td{
     vertical-align: middle;
}
.downloads .type td:nth-child(1){
width:280px;
    height: 36px;
    background-color: #f4f4f4;
}
.downloads .type td:nth-child(2) a{
color: #89bc29;
    font-weight: 550;
    display: inline-block;
    margin:0 20px 0 0 ;
    transition: .3s all;
}
.downloads .type td:nth-child(2) a:hover{
color: #b0dd5b;
text-decoration: underline;
}




