
 body {
    margin: 0; padding: 0px; 
   /* overflow: hidden;*/
      
}

#examList{
    font-family: 'cwTeXYen','微軟正黑體', 'Arial' , sans-serif ;
    /*
    width:1300px;
    */
    width:100%;
    display: block;
    clear: both;
}

#examList .el-container{
    width:100%;
    display: block;
}
#examList .exam-block{
    width:100%;
    height: 235px;
    display: block;
    float: left;
    clear: both;
    background-color: #434343;
}
#examList .eb-container{
    width:1130px;
    display: block;
    margin: 0 auto;
}

#examList .eb-container .block{
    padding: 16px 0 0 0;
    width:9%;
    height:90px;
    box-sizing: border-box;
    display: inline-block;
    float: left;
margin:10px 10px 0;
    color: #ffffff;
    background-color: #5d5d5d;
    border-radius: 6px;
    transition: .3s all;
    -webkit-user-select: none;
}
#examList .eb-container .block .block-arrow{
opacity: 0;
}
#examList .eb-container .block.tabs-active{
cursor: pointer;
    color: #ffffff;
    background-color: #f29001;
}
#examList .eb-container .block.tabs-active .block-arrow{
display: inline-block;
   opacity: 1;
    position: relative;
    left:  35px;
    width:1px;
    height: 10px;
    border-bottom:20px solid #ffffff;
    border-right:15px solid transparent;
    border-left:15px solid transparent;
    z-index:1;
   transition: .3s opacity;
}
#examList .eb-container .block:hover{
cursor: pointer;
    color: #ffffff;
    background-color: #f29001;
}
#examList .eb-container .block i{
    text-align: center;
    clear: both;
   font-size: 32px;
    height:30px;
    width: 70px;
    display: block;
margin:0 auto;
    color: #ffffff;
}
#examList .eb-container .block span{
    text-align: center;
   font-size: 16px;
    width: 105px;
    display: block;
    padding: 0;
    margin:12px auto;
    color: #ffffff;
    letter-spacing: 3px;
    text-indent: 3px;
}

/*----------考試區塊顯示區域開始----------*/
#examList  .exam-show{
display:block;    
    width:100%;
    float: left;
}
#examList  .exam-show .exs-container{
display:block;    
    width:1300px;
    margin:0 auto;
    
}
#examList  .exam-show .exs-container .exs-block{
    display:block;    
    position: relative;
    top:-50px;
    width:100%;
    margin:0 auto;
    padding: 20px 54px;
    box-shadow: 0px 0 60px rgba(80,80,80, .2);
    border-radius: 5px;
    background-color: #ffffff; 
        float: left;
    box-sizing: border-box;
}
/*----------考試顯示區域結束----------*/




/*--------------------投考組合區塊--------------------*/
#examList  .exam-combo{
display:block;    
    width:100%;
    margin:0 auto;
        float: left;
}

#examList  .exam-show .title{
letter-spacing: 8px;

    color: #818181;
    font-size: 26px;
        float: left;
}
#examList  .exam-combo  .info-block{
width:35px;
    height:35px;;
    float: right;
border-radius: 3px;
    margin: 10px 0 0 0;
    display: inline-block;
    background-image: url(../img/info.svg);
    cursor: pointer;
    transition: .3s all;
}
#examList  .exam-combo .info-block:hover{
    background-image: url(../img/info-hov.svg);
}
#examList  .exam-combo .info-block:hover{
    background-image: url(../img/info-hov.svg);
}
#examList  .exam-combo  .info-block .infos{

    font-weight: 600;
    color: #767676;
    text-align: center;
    width:100px;
    padding:10px;
    position:absolute;
    top:-21px;
    right: 10px;
    display: block;
    border: 1px solid rgba(242, 144, 1, 0.63);
        border-radius: 3px;;
    background-color:rgb(255, 255, 255);
    box-shadow: 0px 5px 20px rgba(10, 10, 10, 0.21)
}
#examList  .exam-combo  .info-block .info-arrow{
border-right: 10px solid rgba(255, 255, 255, 0);
border-left: 10px solid rgba(255, 255, 255, 0);
    border-top:14px solid #ffffff;
    display: inline-block;
    position: absolute;
    top:14px;
    right: 62px;
}
#examList  .exam-combo  .info-block .info-arrow-edge{
border-right: 10px solid rgba(255, 255, 255, 0);
border-left: 10px solid rgba(255, 255, 255, 0);
    border-top:14px solid #f29001;
    display: inline-block;
    position: absolute;
    top:16px;
    right: 62px;
}
#examList  .exam-combo  .info-block .info-hover{
    opacity: 0;
    transition: .3s all;
}
#examList  .exam-combo  .info-block:hover .info-hover{
     opacity: 1;
}


#examList  .exs-block hr{
   border: 0;
    height: 1px;
    background:#dddddd;
    background-image:#ffffff;
    margin:10px 0 20px;
}
#examList  .exam-combo .ec-blocks{
    display:block;
   width: 100%;
background-color: #f2f2f2;
    padding:20px 0px 25px ;
    box-sizing: border-box;
        float: left;
}
#examList  .exam-combo .ec-blocks h2{
    display:block;
width:100%;
text-align: center;
    margin:10px auto 0px;
    color: #868686;
    font-size: 20px;
    letter-spacing: 3px;
        text-indent: 3px;

    font-weight: 500;
     display: inline-block;
}


#examList  .exam-combo .ec-blocks2{
    display:block;
   width: 95%;
text-align: center;
margin:0 auto;
    
}
#examList  .exam-combo .ec-block{
font-size: 18px;
    display:inline-block;
   width: 15%;
    height:48px;
    text-align: center;
background-color: #ffffff;
    padding:15px 0;
    box-sizing: border-box;
    margin: 8px 9px;
    float: left;
    transition:.3s all;
}
#examList  .exam-combo .ec-block:hover{
background-color: #e8e8e8;
cursor: pointer;
}
#examList  .exam-combo .ec-blocks .ecb-sub{
    font-family:'cwTexYen', '微軟正黑體';
    font-weight: 600;
font-size: 20px;
   width: 115px;
    height:42px;
background-color: #f29001;
color: #f5e6cf;
border:0px solid #ffffff;
    margin: 14px auto 0;
    box-shadow: 0px 3px 18px rgba(10 ,10,10,.3);
    transition: .3s all;
    letter-spacing: 10px;
    text-indent: 10px;
    border-radius: 5px;
}

#examList  .exam-combo .ec-blocks .ecb-sub:hover{
background-color: #ffa31e;
color: #ffffff;
cursor: pointer;
}
/*--------------------投考組合區塊--------------------*/



/*--------------------文章區塊--------------------*/
#examList  .exam-combo .article-loader{
    display: block;
    position: relative;
    top:10px;
    margin: 40px 0 0 -40px;
    padding:10px;
    float: left;
}
/*--------------------文章區塊--------------------*/

/*--------------------日程開始--------------------*/
#examList  .exam-combo .exam-date{
}
#examList  .exam-combo .exam-date .ed-years{
float: right;
    width:auto;
    height:40px;
}
#examList  .exam-combo .exam-date .ed-years span{
display: inline-block;
    width:105px;
    height: 30px;
    border:1px solid #d0d0d0;
    border-radius: 50px;
    text-align: center;
    padding: 3px 0;
    box-sizing: border-box;
    margin:0 10px 0 0;
      transition: .3s all;
}
#examList  .exam-combo .exam-date .ed-years span a{
    display: block;
font-size: 17px;
    height: 30px;
    border: 15px solid transparent;
    position: relative;
    top:-15px;
    font-weight: 600;
    color: #a3a3a3;
      transition: .3s all;
}
#examList  .exam-combo .exam-date .ed-years span:hover{
    border:1px solid #f29001;
color: #f29001;
    cursor: pointer;
     -webkit-user-select: none;
}
#examList  .exam-combo .exam-date .ed-years span:hover a{
color: #f29001;
}
#examList  .exam-combo .exam-date .ed-title{
letter-spacing: 8px;
font-weight: 500;
    color: #242424;
    font-size: 24px;
        float: left;
    margin:8px 0 15px 0;
    
}
#examList  .exam-combo .exam-date .ed-table{
    border-collapse:collapse;
    border:1px solid #f4f4f4;
    margin:10px 0 42px 0;
}
#examList  .exam-combo .exam-date .ed-table th{
    border-collapse:collapse;
    background-color: #937b61;
    border:0px solid #f4f4f4;
    color: #ffffff;
    letter-spacing: 8px;
    font-weight: 500;
    font-size: 16px;
    box-sizing: border-box; 
     text-align: center;
}
#examList  .exam-combo .exam-date .ed-table tbody{
    font-weight: 300;
     letter-spacing: 1px;
    font-size: 17px;
}
#examList  .exam-combo .exam-date .ed-table td:nth-child(1){
    font-weight: 300;
    font-size: 18px;
     color: #414141;
}
#examList  .exam-combo .exam-date .ed-table td:nth-child(2),
#examList  .exam-combo .exam-date .ed-table td:nth-child(3){
    font-weight: 300;
    font-size: 14px;
     letter-spacing: 2px;
     color: #848484;
    text-align: center;
}
#examList  .exam-combo .exam-date .ed-table td:nth-child(4){
    font-weight: 300;
    font-size: 18px;
     text-align: center;
    vertical-align: middle;
}
#examList  .exam-combo .exam-date .ed-table td:nth-child(4) a{
     color: #89bc29;
    letter-spacing: 0px;
     transition: .3s all;
}
#examList  .exam-combo .exam-date .ed-table td:nth-child(5){
    font-weight: 300;
    font-size: 22px;
     text-align: center;
}
#examList  .exam-combo .exam-date .ed-table td:nth-child(5) a{
     color: #f29001;
    transition: .3s all;
}
#examList  .exam-combo .exam-date .ed-table td:nth-child(4) a:hover{
color: #9ce255;
text-decoration: underline;
}
#examList  .exam-combo .exam-date .ed-table td:nth-child(5) a:hover{
color: #f7b34f;
}

#examList  .exam-combo .exam-combine{
}

#examList  .exam-combo .exam-combine .ecb-title{
  letter-spacing: 6px;
font-weight: 500;
    color: #242424;
    font-size: 20px;
        float: left;
    margin:8px 0 15px 0;
}
#examList  .exam-combo .exam-combine .ecb-title span{
    color: #f29001;
}
#examList  .exam-combo .exam-combine p{
    font-size: 17px;
    line-height: 19px;
    color: #7b7b7b;
}

#examList  .exam-combo .exam-combine .ec-table{
    border-collapse:collapse;
    border:1px solid #f4f4f4;
    margin:10px 0 42px 0;
text-align: center;
    
}
#examList  .exam-combo .exam-combine .ec-table th{
    background-color: #dddddd;
    color: #000000;
    letter-spacing: 8px;
    font-weight: 500;
    font-size: 16px;
    box-sizing: border-box; 
    
}

#examList  .exam-combo .exam-combine .ec-table th:nth-child(1){
    width: 130px;
}
#examList  .exam-combo .exam-combine .ec-table th:nth-child(2){
    width: 130px;
}
#examList  .exam-combo .exam-combine .ec-table td:nth-last-of-type(7){
font-size: 18px;
    height:30px;
    vertical-align: middle;
}
#examList  .exam-combo .exam-combine .ec-table td {
vertical-align: middle;
}
#examList  .exam-combo .exam-combine .ec-table td a{
font-size: 19px;
    color: #90d003;
    transition: .3s all;
    display: block;
}

#examList  .exam-combo .exam-combine .ec-table td:hover a{
    color: #aded55;
    transition: .3s all;
    text-decoration: underline;
}

#examList  .exam-combo .exam-combine .ec-table .examName{
    vertical-align: middle;
    background-color: #f4f4f4;
}
#examList  .exam-combo .exam-combine .ec-table .examName span{
font-size: 18px;
    display: block;
    margin:12px;
    box-sizing: border-box;
    color: #484848;
}
/*--------------------日程表結束--------------------*/



.filler{
    display:inline-block;
    width:100%;
    height:300px;
    
}




