

#productDetail .vb-col-right .info-title.single{
    padding: 20px 25px 20px ;
    font-size: 20px;
    display:block;
    text-align: left;
    color: #ebebeb;
    background-color: #06abc4;
    margin:0;
     font-size: 25px;
}
#productDetail .vb-col-right .info-list.single i{
    color: #00b8d4;
}
#productDetail .vb-col-right .lessonInfo .price-detail2{
    display:inline-block;
margin:10px 0 5px;
    font-size: 15px;
    color:#eb1010;
    float: right;
}

#productDetail .buysoonBlock .btnfree{
    border:0px solid #000000;
    display:inline-block;
    box-sizing: border-box;
    font-weight:500;
    font-size: 18px;
    color:#ffffff;
    width:90%;
    height:50px;
    letter-spacing: 8px;
    border-radius: 4px;
    box-shadow: inset 5px 5px 5px rgba(10,10,10,.1);
    float: left;
    box-sizing: border-box;
    margin: 0 ;
}
#productDetail .buysoonBlock .btnfree{
    float:left;
    width:300px;
    height:70px;
    letter-spacing: 10px;
        background-color: #f29001;
}
#productDetail .buysoonBlock .btnfree.dp-mob{
display: none;
}

.pb-container.single .tab-swiper .swiper-wrapper .swiper-slide a.active  {
    border-bottom: 3px solid #00b8d4;
    margin:0px 0 -5px 0;
    position: relative;
    display: inline-block;
}

#bx-taber .tabs-active{
        border-bottom: 3px solid #00b8d4;

}



@media only screen and (max-width:1450px){

#productDetail .buysoonBlock .btnfree.dp-mob{
 display: block;
}
#productDetail .bb-col2-right.single button{
    font-family:'微軟正黑體' ;
    border:0px solid #000000;
    display:inline-block;
box-sizing: border-box;
     font-weight:500;
    font-size: 16px;
    color:#ffffff;
    width:30%;
    height:50px;
    letter-spacing: 8px;
    border-radius: 4px;
    box-shadow: inset 5px 5px 5px rgba(10,10,10,.1);
    float: left;
    box-sizing: border-box;

}
        #productDetail .buysoonBlock .btnfree{
display: none;
}

}
@media only screen and (max-width:1100px){
    #productDetail .vb-col-right .info-title.single{
    padding: 20px ;
    font-size: 20px;
    display:block;
    margin:0;
}

}


@media only screen and (max-width:900px){

#productDetail .bb-col2-right.single button{
    font-family:'微軟正黑體' ;
    border:0px solid #000000;
    display:inline-block;
    box-sizing: border-box;
     font-weight:500;
    font-size: 16px;
    color:#ffffff;
    width:90%;
    height:50px;
    margin:4px 20px!important ;
    letter-spacing: 8px;
    border-radius: 4px;
    box-shadow: inset 5px 5px 5px rgba(10,10,10,.1);
    float: left;
    box-sizing: border-box;
}
}


#productDetail.single .swiper-pagination-bullet {
    background: #afafaf;
    opacity: 0.6;
}
#productDetail.single .swiper-pagination-bullet-active {
    background-color: #00b8d4 ;
    opacity: 1;
    transition:.4s all;
    width:30px;
    border-radius: 10px;
}

#productDetail.single .video-swiper .swiper-button-prev{
    background-image: url(../img/prev.svg);
    z-index: 15;
}

#productDetail.single .video-swiper .swiper-button-next{
    background-image: url(../img/next.svg);
     z-index: 15;
}

#productDetail.single .tab-swiper .swiper-button-prev{
    background-image: url(../img/tab-btn-prev.svg);
box-shadow: 0px 0px 30px rgba(10,10,10,.2);
    background-size: cover;
    width:40px;
    height: 65px;
    top:22px; 
    left:0px;
        
}

#productDetail.single .tab-swiper .swiper-button-next{
    background-image: url(../img/tab-btn-next.svg);
    box-shadow: 0px 0px 30px rgba(10,10,10,.2);
    background-size: cover;
    width:40px;
    height: 65px;
    top:22px; 
    right:0px;

}

#productDetail.single .tab-swiper .swiper-button-prev.swiper-button-disabled ,#productDetail.single .tab-swiper .swiper-button-next.swiper-button-disabled{
    opacity:1;
    box-shadow: 0px 1px 20px rgba(10,10,10,.0);
    display:none;
}







